//messages

section.comment_section{

	.ui.comments{
		width: 100% !Important;
		max-width: 100% !Important;
	}
	
	form{
		padding-bottom: 3em;
	}

	#comment_area{
		max-height: 500px;
		overflow: scroll;
	}
}