//messages

section.comment_section{

	.ui.comments{
		width: 92% !Important;
		max-width: 100% !Important;
	}
	
	form{
		padding-bottom: 3em;
	}

	#comment_area{
		max-height: 500px;
		overflow: scroll;
	}


	.emoji-wysiwyg-editor{
		min-height:10em !Important;
		width: 100%;
	}

	i.emoji-picker-icon.emoji-picker{
		width: 1em !Important;
		height: 1em !Important;
	}

	.emoji-menu.tether-element.tether-enabled.tether-element-attached-left{left: -10em !Important;}
}