$blue: #1ba1e2;
$teal: #00aba9;
$pink: #ff0097;
$purple: #a200ff;
$orange: #f09609;

$robotobold: 'robotobold';
$robotoregular: 'robotoregular';
$robotoblack: 'robotoblack';
$robotomedium: 'robotomedium';